body {
    background-color: rgba(202, 126, 25, 0.619);
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#sosial_media {
    background-color: #f3f4f5;
}